.CrispFigure {
  @include make-flex();
  gap: 10px;
  margin: 0;
  position: relative;

  & > img {
    border-radius: 7px;
    padding: 10px 10px 20px 10px;
    border: 1px solid var(--border);
  }

  & > figcaption {
    font-size: 15px;
    color: var(--subText);
    text-align: center;
    user-select: none;
    font-style: italic;

    position: absolute;
    bottom: -10px;
    background-color: var(--body);
    padding: 0 8px;
    max-width: 80%;
    border-left: 1px solid var(--border);
    border-right: 1px solid var(--border);
    border-radius: 5px;
  }
}
