.CrispMessage {
  &[data-type='error'] {
    --crp-message-icon: '\e002';
    --crp-message-color: var(--crp-message-color-error);
    --crp-message-border-color: var(--crp-message-border-color-error);
    --crp-message-background-color: var(--crp-message-background-color-error);
  }

  &[data-no-icon] {
    &::before {
      display: none;
    }
  }

  &[data-type='info'] {
    --crp-message-icon: '\e88e';
    --crp-message-color: var(--crp-message-color-info);
    --crp-message-border-color: var(--crp-message-border-color-info);
    --crp-message-background-color: var(--crp-message-background-color-info);
  }

  &[data-format='box'] {
    --crp-message-border-radius: 8px;
    --crp-message-padding: 8px 16px;

    border-radius: var(--crp-message-border-radius);
    border: 1px solid var(--crp-message-border-color);
    background-color: var(--crp-message-background-color);
    padding: var(--crp-message-padding);
  }

  gap: 8px;
  @include box($height: auto);
  color: var(--crp-message-color);
  @include make-flex($dir: row, $just: flex-start, $align: flex-start);
  line-height: 20px;

  &::before {
    content: var(--crp-message-icon);
    color: var(--crp-message-color);
    font: normal normal normal 20px/1 'Icons';
  }
}

.CrispMessageList {
  --crp-message-list-gap: 8px;

  list-style-type: none;
  @include box($height: auto);
  gap: var(--crp-message-list-gap);
  @include make-flex($align: flex-start, $just: flex-start);
}
