.GPA {
  &__header {
    @include make-flex($align: flex-start);
    margin: 40px 0 30px 0;
    gap: 10px;

    & > h2 {
      font-size: 40px;
      font-weight: 900;
      color: var(--foreground);
    }

    & > p {
      font-size: 20px;
      font-weight: 400;
      color: var(--subText);
    }
  }

  &__bottom {
    gap: 24px;
    @include make-flex($dir: row, $align: flex-start, $just: flex-start);

    @include respondAt(630px) {
      flex-direction: column;
    }
  }

  &__result {
    top: 108px;
    width: 230px;
    height: unset;
    flex-shrink: 0;
    overflow: auto;
    position: sticky;
    max-height: calc(100vh - 124px);

    gap: 10px;
    padding: 10px;
    border-radius: 10px;
    background-color: var(--elevatedBG);
    border: 1px solid var(--LabSeparator);
    @include make-flex($dir: column, $align: flex-start);

    @include respondAt(630px) {
      width: 100%;
      position: relative;
      top: 0;
    }

    & > hr {
      background: var(--LabSeparator);
      @include box(100%, 1px);
      border: none;
    }

    &:first-child {
      h4 {
        color: var(--bluePrimary);
        font-weight: 500;
      }
    }
    &--item {
      @include make-flex($dir: row, $just: space-between);
      @include box($height: 30px);

      & > input {
        @include box(50px);
        text-align: end;
      }
    }
  }

  &__content {
    @include box();
    @include make-flex($dir: column, $align: flex-start);
    gap: 20px;
  }

  &__semester {
    gap: 10px;
    padding: 10px;
    border-radius: 10px;
    @include make-flex($align: flex-start);
    border: 1px solid var(--border);
    box-shadow: var(--SectionShadow);
    &--top {
      @include box($height: 35px);

      & > input {
        @include box(auto);
        border-radius: 4px;
        background-color: var(--elevatedBG);
      }
    }

    & > table {
      width: 100%;
      border-collapse: separate;
      border-spacing: 10px;

      & > thead {
        & > tr {
          & > th {
            @include box($height: 30px);
            text-align: start;
          }
        }
      }

      & > tbody {
        & > tr {
          & > td {
            @include box($height: 30px);
            text-align: center;

            & > input {
              @include box(100%, 35px);
              border-radius: 5px;
              border: 1px solid var(--border);
            }
          }
        }
      }
    }
  }
}
