.Lab {
  &__content {
    gap: 10px;
    display: grid;
    @include box();

    &--item {
      gap: 12px;
      padding: 12px;
      display: grid;
      align-items: center;
      border-radius: 12px;
      text-decoration: none;
      @include box($height: auto);
      background-color: var(--LabHover);
      grid-template-columns: auto 1fr 55px;

      & > h4 {
        white-space: nowrap;
        text-align: left;
        overflow: hidden;
        text-overflow: ellipsis;
        user-select: none;
      }

      & > hr {
        border-bottom: 1px solid var(--LabSeparator);
        border-top: none;
        border-left: none;
        border-right: none;
        flex-grow: 1;
        user-select: none;
      }
    }
  }
}
