.Prof {
  &__header {
    background-image: url("/assets/images/NoiseGradient3.png");

    &--bottom {
      select {
        @include box();
      }

      & > button {
        position: relative;
        &.active {
          &::before {
            content: " ";
            position: absolute;
            top: 0;
            right: 0;
            @include box(10px, 10px);
            border-radius: 50%;
            background-color: var(--bluePrimary);
          }
        }
      }
    }
  }
  &__content {
    gap: 18px;
    @include box();
    display: grid;
    grid-template-columns: 1fr 1fr;

    @include respondAt(800px) {
      grid-template-columns: 1fr;
    }
  }

  &__options {
    @include box();
    min-width: 355px;
    @include make-flex($align: flex-start);

    gap: 20px;

    @include respondAt(495px) {
      min-width: 70vw;
    }

    &--select {
      @include box();
      @include make-flex($align: flex-start);
      gap: 7px;

      & > label {
        font-size: 17px;
      }

      & > select {
        width: 100%;
      }
    }
  }
}
