/* Crisp Styles */
.CrispMenu {
  --crp-menu-color: var(--foreground) !important;
  --crp-menu-border: 1px solid var(--border) !important;
  --crp-menu-box-shadow: var(--buttonShadow) !important;
  --crp-menu-background-color: var(--elevatedBG) !important;
  --crp-menu-summary-icon-color: var(--iconColor) !important;

  --crp-menu-color-hover: var(--foreground) !important;
  --crp-menu-border-hover: 1px solid var(--buttonHoverBorder) !important;
  --crp-menu-background-color-hover: var(--buttonHoverBG) !important;

  --crp-menu-content-border: 1px solid var(--border) !important;
  --crp-menu-background-color: var(--popoverBG) !important;
  --crp-menu-content-box-shadow: var(--elevatedShadow) !important;
}

.CrispSelect {
  --crp-select-color: var(--foreground) !important;
  --crp-select-border: 1px solid var(--border) !important;
  --crp-select-box-shadow: var(--buttonShadow) !important;
  --crp-select-background-color: var(--background) !important;
  --crp-select-icon: var(--downArrow) !important;
  --crp-select-border-hover: 1px solid var(--buttonHoverBorder) !important;
  --crp-select-color-hover: var(--foreground) !important;
  --crp-select-background-position: right 5px top 50% !important;
  --crp-select-background-size: right 5px top 50% !important;
  --crp-select-padding: 0 35px 0 10px !important;
}

.CrispButton {
  --crp-button-color: var(--foreground) !important;
  --crp-button-background-color: var(--background) !important;
  --crp-button-box-shadow: var(--buttonShadow) !important;
  --crp-button-border: 1.2px solid var(--border) !important;
  --crp-button-border-hover: 1.2px solid var(--buttonHoverBorder) !important;
  --crp-button-background-color-hover: var(--buttonHoverBG) !important;
  --crp-button-disabled-color: var(--disabledLink) !important;
  --crp-button-color-hover: var(--foreground) !important;
}

.CrispInput {
  --crp-input-border: 1px solid var(--border) !important;
}