[data-theme="dark"] {
  /* 1a1a1b 202222*/
  --__gray-1: #1a1a1b;

  --inactiveLink: var(--gray-8);
  --activeLink: white;
  --disabledLink: var(--gray-10);

  /* ======= */
  --body: #030303;

  --scroll: gray;
  --lightViolet: #aa8dff;
  --lightRed: #ff605c;

  --border: #343536;
  --lightBorder: #2f2e2e;
  --activeNav: #b1bac41f;
  --background: #191a1a;
  --foreground: #e6edf3;
  --invertedForeground: #e6edf3;

  --disabledColor: #a3a3a3;
  --buttonHoverBorder: #8b949e;
  --buttonHoverBG: #2f3337;
  --buttonShadow: #00000000 0px 0px 0px 0px, #00000000 0px 0px 0px 0px;

  --popoverBG: #141618;
  --elevatedBG: var(--__gray-1);
  --subElevatedBG: rgb(48, 54, 61);
  --subText: #91999e;
  --elevatedShadow: #191a1a 0px 8px 24px 0px;
  --toastShadow: 0px 3px 35px 4px rgba(129, 129, 129, 0.25);
  --ProfCardBG: var(--__gray-1);

  --iconColor: #7d8590;
  --headerBorder: rgb(48, 54, 61) 0px -1px 0px 0px inset;

  --LabHover: #292929;
  --LabSeparator: #3e3e3e;
  --footerBG: var(--__gray-1);

  --tableHeaderFG: #7d8590;
  --tableHeaderBG: #161b22;

  --folderIconColor: #7d8590;
  --SectionShadow: #ffffff24 0px 0px 25px 1px;

  /* Chip Colors */
  --bluePrimary: #6b91fb;
  --blueSecondary: #303849;
  --greenPrimary: #618b4c;
  --greenSecondary: #22301e;
  --yellowPrimary: #d6a222;
  --yellowSecondary: #302b20;
  --redPrimary: #cd564d;
  --redSecondary: #2f1f1e;
  --grayPrimary: #a1a1a3;
  --graySecondary: #2e2e2e;

  /* profButton */
  --bottomABG: #4f4f4f;
  --bottomAFG: #ffffff;
  --bottomADisable: #323232;
  --downArrow: url("data:image/svg+xml;utf8,<svg fill='white' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
}
