[data-theme="light"] {
  --scroll: var(--gray-06);
  --foreground: var(--gray-15);
  --subFg-1: var(--gray-09);
  --subFg-2: var(--gray-20);
  --background: var(--white);
  --iconColor: var(--gray-12);
  --elevation-1: var(--gray-00);
  --elevation-2: #1f232814;

  --home-card-background-color: var(--gray-23);
  --prof-card-background-color: var(--white);
  --prof-card-website-bg: var(--gray-27);
  --prof-card-website-bg-disabled: var(--gray-07);
  --prof-card-website-fg-disabled: var(--gray-01);
  --lab-item-bg: var(--gray-32);
  --lab-item-separator: var(--gray-33);
  --amenity-filter-active-bg: #f1f2f4;
  --amenity-filter-bg: var(--white);

  /* Crisp theme */
  --t-crp-disabled-color: var(--gray-07);
  --t-crp-background-hover: var(--gray-02);
  --t-crp-disabled-background-color: var(--gray-02);

  --t-crp-link-primary: var(--violet-01);
  --t-crp-border: var(--gray-04);
  --t-crp-light-border: var(--gray-18);
  --t-crp-border-hover: var(--gray-05);
  --t-crp-disabled-border: var(--gray-02);

  /* presets */
  --t-crp-box-shadow: #1f23280a 0px 1px 0px 0px, #ffffff40 0px 1px 0px 0px inset;
  --t-crp-elevation-shadow: #8c959f33 0px 8px 24px 0px;
  --t-crp-select-downArrow: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
  --home-card-box-shadow: 0px 4px 9px 0px rgba(0, 0, 0, 0.12);
  --pane-backdrop-background: rgba(240, 242, 244, 75%);
  --pane-background: var(--gray-31);

  /* Chip Colors */
  --bluePrimary: var(--blue-01);
  --blueSecondary: var(--blue-00);
  --greenPrimary: var(--green-01);
  --greenSecondary: var(--green-00);
  --yellowPrimary: var(--yellow-01);
  --yellowSecondary: var(--yellow-00);
  --redPrimary: var(--red-01);
  --redSecondary: var(--red-00);
  --grayPrimary: var(--grayish-02);
  --graySecondary: var(--gray-00);

  --crp-message-color-error: #ff605c;
  --crp-message-border-color-error: #ff605c;
  --crp-message-background-color-error: #ffe6e6;

  --crp-message-color-info: #005197;
  --crp-message-border-color-info: #005197;
  --crp-message-background-color-info: #e3f0ff;

  --crp-tab-background-color: #f4f4f5;
  --crp-tab-item-background-color: #ffffff;

}