[data-theme="light"] {
  --inactiveLink: var(--gray-11);
  --activeLink: black;
  --disabledLink: var(--gray-9);

  /* ======= */
  --body: white;

  --scroll: #d0d0d0;
  --lightViolet: #d087dc;

  --border: #d0d7de;
  --activeNav: #f1f2f4;
  --background: white;
  --foreground: #1f2328;

  --disabledColor: #eaeaea;
  --buttonHoverBorder: #1f232826;
  --buttonHoverBG: #eaecee;
  --buttonShadow: #1f23280a 0px 1px 0px 0px, #ffffff40 0px 1px 0px 0px inset;

  --popoverBG: #ffffff;
  --elevatedBG: #f6f8fa;
  --subElevatedBG: #1f232814;
  --elevatedShadow: #8c959f33 0px 8px 24px 0px;
  --ProfCardBG: #ffffff;

  --iconColor: #656d76;
  --headerBorder: rgb(208, 215, 222) 0px -1px 0px 0px inset;

  /* Chip Colors */
  --bluePrimary: #6b91fb;
  --blueSecondary: #edf2fe;
  --greenPrimary: #618b4c;
  --greenSecondary: #eff7ed;
  --yellowPrimary: #af8a30;
  --yellowSecondary: #faefd3;
  --redPrimary: #af3f36;
  --redSecondary: #f8e8e7;
  --grayPrimary: #4a4b56;
  --graySecondary: #ededf0;

  /* profButton */
  --bottomABG: #010001;
  --bottomAFG: #ffffff;
  --bottomADisable: #a3a3a3;
  --downArrow: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
}
