.FancyInput {
  &[type="text"],
  &[type="password"],
  &[type="email"],
  &[type="number"] {
    padding: 8px 10px;
    font-size: 15.5px;
    border-radius: 7px;
    @include box($height: 38px);
    box-shadow: var(--buttonShadow);
    border: 1.5px solid var(--border);
    background-color: var(--elevatedBG);
  }

  &[type="number"] {
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      margin: 0;
      -webkit-appearance: none;
    }
  }

  &[type="textarea"] {
    resize: none;
    text-align: left;
    padding: 0.75rem;
    font-size: 15.5px;
    border-radius: 7px;
    @include box($height: 100px);
    border: 1.5px solid var(--border);
  }
}
