.FancyLink {
  white-space: nowrap;

  &[data-type="Bracket"] {
    padding: 0px 3px 1px 3px;
    border-radius: 3px;
    text-decoration: none;
    @include make-flex($dir: row);
    gap: 3px;
    width: fit-content;

    color: var(--lightViolet);
    &::after {
      content: "]";
      color: var(--lightViolet);
    }
    &::before {
      content: "[";
      color: var(--lightViolet);
    }

    transition: all 0.1s ease-in-out;

    &:hover,
    &:focus,
    &:active {
      background-color: var(--lightViolet);
      color: var(--background);

      &::after {
        color: var(--background);
      }
      &::before {
        color: var(--background);
      }
    }
  }
}
