[data-theme='light'] {
  --scroll: #d0d0d0;
  --foreground: #262626;
  --subFg-1: #91999e;
  --subFg-2: #555555;
  --background: #ffffff;
  --iconColor: #656d76;
  --elevation-1: #f6f8fa;
  --elevation-2: #1f232814;

  --home-card-background-color: #fafafa;
  --prof-card-background-color: #ffffff;
  --prof-card-website-bg: #010001;
  --prof-card-website-bg-disabled: #a3a3a3;
  --prof-card-website-fg-disabled: #eaeaea;
  --lab-item-bg: #f3f3f3;
  --lab-item-separator: #dedede;
  --amenity-filter-active-bg: #f1f2f4;
  --amenity-filter-bg: #ffffff;

  --events-accent: #cd1739;

  /* Crisp theme */
  --t-crp-disabled-color: #a3a3a3;
  --t-crp-background-hover: #eaecee;
  --t-crp-disabled-background-color: #eaecee;

  --t-crp-link-primary: #7547ff;
  --t-crp-border: #d0d7de;
  --t-crp-light-border: #e8edf1;
  --t-crp-border-hover: #ccced1;
  --t-crp-disabled-border: #eaecee;

  --tableHeaderFG: #656d76;
  --tableHeaderBG: #f6f8fa;

  --credits-border: #e5e7eb;

  /* Presets */
  --t-crp-box-shadow: #1f23280a 0px 1px 0px 0px, #ffffff40 0px 1px 0px 0px inset;
  --t-crp-elevation-shadow: #8c959f33 0px 8px 24px 0px;
  --t-crp-select-downArrow: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
  --home-card-box-shadow: 0px 4px 9px 0px rgba(0, 0, 0, 0.12);
  --pane-backdrop-background: rgba(240, 242, 244, 75%);
  --pane-background: #fbfcfd;

  /* Chip Colors */
  --bluePrimary: #6b91fb;
  --blueSecondary: #edf2fe;
  --greenPrimary: #618b4c;
  --greenSecondary: #eff7ed;
  --yellowPrimary: #af8a30;
  --yellowSecondary: #faefd3;
  --redPrimary: #af3f36;
  --redSecondary: #f8e8e7;
  --grayPrimary: #4a4b56;
  --graySecondary: #f6f8fa;

  --crp-message-color-error: #b31410;
  --crp-message-border-color-error: #b31410;
  --crp-message-background-color-error: #ffe6e6;

  --crp-message-color-info: #005197;
  --crp-message-border-color-info: #005197;
  --crp-message-background-color-info: #e3f0ff;

  --crp-message-color-convo2024: #c3b197;
  --crp-message-border-color-convo2024: #9d7b7b;
  --crp-message-background-color-convo2024: #f9efde;

  --crp-tab-background-color: #f4f4f5;
  --crp-tab-item-background-color: #ffffff;
}