@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@700;800&display=swap");

// font-family: 'Roboto', sans-serif;
// font-family: 'Source Code Pro', monospace;
// font-family: 'Montserrat', sans-serif;
// font-family: 'Poppins', sans-serif;
// font-family: 'Open Sans', sans-serif;

// Aeonik-Regular.woff2
@font-face {
  font-family: "Aeonik";
  font-style: normal;
  font-weight: 400;
  src: url("/assets/fonts/Aeonik-Regular.woff2") format("woff2");
}

// Nohemi-SemiBold.ttf
@font-face {
  font-family: "Nohemi";
  font-style: normal;
  font-weight: 600;
  src: url("/assets/fonts/Nohemi-SemiBold.ttf") format("truetype");
}

// Satoshi.ttf
@font-face {
  font-family: "Satoshi";
  src: url("/assets/fonts/Satoshi.ttf") format("truetype");
  font-weight: 300 900;
  font-display: swap;
  font-style: normal;
}
