@import "../root/Fancy/FancyButton.scss";
@import "../root/Fancy/FancySelect.scss";
@import "../root/Fancy/FancyMenu.scss";
@import "../root/Fancy/FancyLink.scss";
@import "../root/Fancy/FancyInput.scss";
@import "../root/fonts.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--foreground);
}

::-webkit-scrollbar {
  background: transparent;
}
::-webkit-scrollbar {
  @include box($scrollbarWidth, $scrollbarWidth);
}
::-webkit-scrollbar-thumb {
  background: var(--scroll);
  border-radius: 10px;
}
::-webkit-scrollbar-track {
  background: transparent;
}

html {
  overflow-y: auto;
  overflow-x: hidden;
  font-family: "Satoshi", "Helvetica Neue", "Helvetica", Arial, sans-serif;
  @include make-flex($just: flex-start);
  @include box(100vw, auto);
  min-height: 100vh;
  scrollbar-gutter: stable;
  scroll-behavior: smooth;
}

body,
#app {
  @include box(100vw, auto);
  background-color: var(--body);
  min-height: 100vh;
  @include make-flex($just: flex-start);
}

#app {
  min-height: 100vh;
}

.Content {
  &--maxWidth {
    @include box();
    @include make-flex($just: flex-start);
    padding: 64px 20px 20px 20px;
    max-width: $maxWidth;
    gap: 15px;
  }
}

// global needs
*[data-mandatory] {
  &:after {
    content: " *";
    color: red;
  }
}

.Row {
  &--center {
    @include make-flex($dir: row, $just: center);
  }
  &--start {
    @include make-flex($dir: row, $just: flex-start);
  }
  &--end {
    @include make-flex($dir: row, $just: flex-end);
  }
  &--between {
    @include make-flex($dir: row, $just: space-between);
  }
  &--around {
    @include make-flex($dir: row, $just: space-around);
  }

  &--a-start {
    @include make-flex($dir: row, $align: flex-start);
  }

  &--a-end {
    @include make-flex($dir: row, $align: flex-end);
  }
  &--j-start {
    @include make-flex($dir: row, $just: flex-start);
  }
  &--j-end {
    @include make-flex($dir: row, $just: flex-end);
  }
}

.Col {
  &--center {
    @include make-flex($dir: column, $just: center);
  }
  &--j-start {
    @include make-flex($dir: column, $just: flex-start);
  }
  &--j-end {
    @include make-flex($dir: column, $just: flex-end);
  }

  &--a-start {
    @include make-flex($dir: column, $align: flex-start);
  }

  &--a-end {
    @include make-flex($dir: column, $align: flex-end);
  }

  &--between {
    @include make-flex($dir: column, $just: space-between);
  }
  &--around {
    @include make-flex($dir: column, $just: space-around);
  }
}

// Padding Classes
$paddingSizes: (5, 10, 15, 20);
$paddingDirections: (l, r, t, b, x, y);

@each $size in $paddingSizes {
  @each $dir in $paddingDirections {
    .pad-#{$size}#{$dir} {
      @if $dir == l {
        padding-left: #{$size}px;
      } @else if $dir == r {
        padding-right: #{$size}px;
      } @else if $dir == t {
        padding-top: #{$size}px;
      } @else if $dir == b {
        padding-bottom: #{$size}px;
      } @else if $dir == x {
        padding-left: #{$size}px;
        padding-right: #{$size}px;
      } @else if $dir == y {
        padding-top: #{$size}px;
        padding-bottom: #{$size}px;
      }
    }
  }
}

.w {
  &-auto {
    width: auto;
  }
  &-100 {
    width: 100%;
  }
  &-90 {
    width: 90%;
  }
  &-80 {
    width: 80%;
  }
}

.h {
  &-100 {
    height: 100%;
  }
  &-90 {
    height: 90%;
  }
  &-80 {
    height: 80%;
  }
}
// Gap Classes
$gapSizes: (5, 10, 15, 20);

@each $gap in $gapSizes {
  .gap-#{$gap} {
    gap: #{$gap}px;
  }
}
